body {
	font-family: helvetica, arial, sans-serif;
    padding: 2em;
	/*background-color: grey;*/
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	margin-bottom: auto;
}

.headinfo {
	text-align: center;
	font-size: 80%;
	margin-left: 0em;
}

#center {
	text-align: center;
	padding: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#navbar{
	text-align: center;
/*	padding: 0.5em; 
    display: block;*/
	font-size: 90%;
    margin-left: auto;
    margin-right: auto;
	border-collapse: collapse;
	font-weight: bold;
}

#navbar td {
	padding-left: 1em;
	padding-right: 1em;
}

.linkList {
	list-style-type: none;
	padding-left: 4em; 
}

#frontPhoto {
	display: block;
	float: right;
	padding: 2px;
	background-color: #ccc;
	margin-left: 1em;
	/*padding-right: 2em;
	padding-bottom: 1em;
	margin-bottom: auto;*/
}

.rightPhoto{
	display: block;
	float: right;
	padding-left: 2em;
	padding-right: 0em;
}

.leftPhoto{
	display: block;
	float: left;
	padding-left: 0em;
	padding-right: 2em;
}

.boldtitle {
	text-align: left;
	font-size: 225%;
	width: 8em;
}

.lighttitle {
	text-align: right;
	font-size: 225%;
	font-weight: lighter;
}

.tagline {
	font-size: 90%;
	text-align: right;
	line-height: 110%;
	padding-top: 0em;
}

.titletable {
	/*margin-left: auto;
	margin-right: auto;
	padding-right: 3em;
*/
	width: 100%;
	table-layout:fixed;
	padding-top: 0em;
	padding-bottom: 0em;
}

.cite{
	/*color: black;*/
	/*text-decoration: underline;*/
}

.advisor {
	/*text-align: right;*/
	padding-left: 4em;
}

hr {
    border: none;
    background-color: #ccc;
    color: #ccc;
    height: 1px;
	width: 100%;
}

div {
	display: block;
	/*margin-top: 2em;*/
	/*border: solid;
	border-color: silver;
	border-radius: 0.5em;
	padding: 1.5em;
*/
	background-color: white; /*silver;*/
	line-height: 125%;
}

title {
	text-align: left;
}

a {
	/* color: rgb(86,86,86); */
	color: #0066CC;
	text-decoration: none;
	font-size: 105%
}

a:hover{
	color: #000099;
	text-decoration: underline
}

p {
	margin-left: 2em;
	margin-right: 2em;
}


li {
	line-height: 1.4em;
	margin-bottom: 0.4em;
}

img {
	padding: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

object {
	padding: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}